{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}competitor information{% endblock %}

{% block content %}
<div class="base-padding">
  <!-- action이 없으면 redirect됨 -->
  <form class="" action="" method="post">
    {% csrf_token %}
    <ul>
      {% if ceos %}
      <tr>
        <td>해당연도 {{ceos.years}}</td>
        <td>지원자/기업명 {{ceos.ceos}}</td>
        <input type="submit" name="" value="검색">
      </tr>
      <!-- <p>지원자/기업명 {{ceos.ceos}} -->
      <!-- <input type="submit" name="" value="검색"> -->
    <!-- </p> -->
      {% endif %}
      {% if messages %}
      {% for message in messages %}
      <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
      {% endfor %}
      {% endif %}
    </ul>
  </form>
</div>
{% endblock %}
