{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}document_post_page{% endblock %}

{% block content %}
<div class="row">
<div class="column side"></div>
<div class="column middle">
  <div class="layout-padding">
    <div class="layout">
      <p>2019년 창업선도대학 '창업아이템사업화'</p>
      <h2><p>서류평가표</p></h2>
    </div>
  </div>
  {% if post %}
  {% if score %}
  <form id="scoreform" class="success" action="{% url 'django_ex:document_post' user.id post.id %}" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <th>지원자/기업명</th>
        <td>{{post.ceoname}}</td>
        <th>창업유무</th>
        <td>{{post.setup_fields}}</td>
        <th>발표차수</th>
        <td>{{score.th}}</td>
      </tr>
      <tr>
        <th>창업분야</th>
        <td>{{post.item_fields}}</td>
        <th>업종분야</th>
        <td>{{post.work_fields}}</td>
        <th>가점</th>
        <td>{{post.plus_points}}</td>
      </tr>
      <tr>
        <th>아이템명</th>
        <td colspan="5">{{post.itemname}}</td>
      </tr>
    </table>

      <table class="total">

        <!-- {{score.errors}} -->
        <tbody>
          <tr>
            <th scope='col'>세부평가</th>
            <th scope='col'>평가내용</th>
            <th scope='col'>배점</th>
            <th scope='col'>최소 득점</th>
            <th scope='col'>점수</th>
          </tr>
          <!--  -->
          <tr>
            <th rowspan="2" class="text-left" class="text-left">1.문제인식(Problem)</th>
            <th scope="col" class="text-left">1-1. 창업아이템의 개발동기</th>
              <td>15</td>
              <td rowspan="3">18</td>
              <td>{{score.score_0}}</td>
          </tr>
          <tr>
            <th scope="col" class="text-left">1-2. 창업아이템의 목적(필요성)</th>
              <td>15</td>
              <td>{{score.score_1}}</td>
          </tr>
          <tr>
            <th colspan="2">소계</th>
            <th>30점</th>
            <th>
              <input type="text" name="subsum_1" id="subsum_1" value="">
            </th>
          </tr>
          <tr>
            <th rowspan="2" class="text-left">2.해결방안(Solution)</th>
            <th scope="col" class="text-left">2-1. 창업아이템의 사업화 전략</th>
              <td>15</td>
              <td rowspan="3">18</td>
              <td>{{score.score_2}}</td>
          </tr>
          <tr>
            <th scope="col" class="text-left">2-2. 창업아이템의 시장분석 및 경쟁력 확보방안</th>
              <td>15</td>
              <td>{{score.score_3}}</td>
          </tr>
          <tr>
            <th colspan="2">소계</th>
            <th>30점</th>
            <th>
              <input type="text" name="subsum_2" id="subsum_2" value="">
            </th>
          </tr>
        <tr>
            <th rowspan="2" class="text-left">3.성장전략(Scale-up)</th>
            <th scope="col" class="text-left">3-1. 자금소요 및 조달계획</th>
              <td>5</td>
              <td rowspan="3">12</td>
              <td>{{score.score_4}}</td>
          </tr>
          <tr>
            <th scope="col" class="text-left">3-2. 시장진입 및 성과창출 전략(내수/해외)</th>
              <td>10</td>
              <td>{{score.score_5}}</td>
          </tr>
          <tr>
            <th colspan="2">소계</th>
            <th>20점</th>
            <th>
              <input type="text" name="subsum_3" id="subsum_3" value="">
            </th>
          </tr>
        <tr>
            <th rowspan="2" class="text-left">4.팀 구성(Team)</th>
            <th scope="col" class="text-left">4-1. 대표자 및 팀원의 보유역량</th>
              <td>10</td>
              <td rowspan="3">12</td>
              <td>{{score.score_6}}</td>
          </tr>
          <tr>
            <th scope="col" class="text-left">4-2. 사회적 가치 실천계획</th>
              <td>10</td>
              <td>{{score.score_7}}</td>
          </tr>
          <tr>
            <th colspan="2">소계</th>
            <th>20점</th>
            <th>
              <input type="text" name="subsum_4" id="subsum_4" value="">
            </th>
          </tr>
          <!--  -->
        </tbody>
        <tfoot>
          <!-- <tr>
            <th colspan="2">소계</th>
              <td>100</td>
              <td>60</td>
              <td><input type="text" name="subsum" id="subsum" value=""></td>
          </tr> -->
          {% if ceoform %}
        <tr>
            <th colspan="2">가점</th>
            <td>최대5점</td>
            <th>-</th>
            <td>{{ceoform.plus_points}}</td>
        </tr>
        {% endif %}
        <tr>
            <th colspan="2">최종점수</th>
            <th></th>
            <td></td>
            <td><input type="text" class="num_only num_sum" id="sum"></td>
        </tr>
        </tfoot>
        {% endif %}
        {% endif %}
      </table>
      <table>
        <tr>
          <th>코멘트</th>
          <td>{{score.comment}}</td>
        </tr>
      </table>
      <input type="submit" value="저장">
    </form>
    <!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->
  </div>
  <div class="column side"></div>
</div>
{% endblock %}
